.carousel_card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.slick-current .carousel_card {
  border-style: solid;
  border-color: white;
  width: 12rem;
}

.carousel_content {
  display: flex;
  margin-bottom: 5vh;
}

.carousel_content_avatar {
  max-width: 25vw;
  max-height: 100%;
  margin-right: 5vw;
}

.carousel_content_text {
  display: flex;
  flex-direction: column;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
}

.slick {
  width: 30px;
  color: grey;
}

.slick-active .slick {
  color: white;
  border: 1px white solid;
}
