---
import './About.css'
import '../shared/styles/Button.css'
---
  
<div class="about">
<div class="about_row">
  <div class="about_column">
    <img class="about_images about_poster" src="/images/Poster.jpg">
    <img class="about_images about_ava" src="/images/ava.jpg">
  </div>
  <div class="about_column">
    <div class="about_content">
      <div class="about_title">
        <p>ABOUT EVENT</p>
        <h1>COLOR FIESTA SEASON 10: RUBY</h1>
      </div>
      
      <div class="about_description">
        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
      </div>

      <div>
        <div class="about_row">
          <div class="about_column about_info">
            <h1> W H E R E </h1>
            <p> Lorem ipsum </p>
          </div>

          <div class="about_column about_info">
            <h1> W H E R E </h1>
            <p> Lorem ipsum </p>
          </div>
        </div>
      </div>

      <li class="content__item about_button">
        <button class="button button--calypso"><span> Đặt vé </span></button>
      </li>
    <div>
  </div>
</div>
</div>