---
import "./AboutUs.css";
import Navigator from "/src/components/Navigator.astro"
---

<div id="aboutus">
  <Navigator />
  <div id="aboutus_container"> 
    <div id="aboutus_content">

      <div id="aboutus_content_header">
        <p> ABOUT US </p>
        <h1> COLOR FIESTA </h1>
      </div>

      <div id="aboutus_content_description">
        <p> sta là một cái gì đó khá dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây Color Fiesta là một </p> 
        <br>
        <p> dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây Color Fiesta là một cái gì đó khá dài dòng ở đây </p>
      </div>
    
    </div>
    <div id="aboutus_logo">
      <img src="/icons/logo.png" />
    </div>
  </div>
</div>