---
import "./FAQS.css"
---

<div id="accordion">
    <div id="accordion_container">
        <div id="accordion_title"> 
            <p> FAQs </p>
            <h1> ABOUT OUR EVENT </h1>
        </div>
        <div id="accordion_content">
            <div class="accordion-item active">
                <a class="heading">
                    <div class="icon"></div>
                    <div class="title"> Làm gì ở Color Fiesta </div>
                </a>

                <div class="content" style="display: block">
                    <p>
                        Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu 
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <a class="heading">
                    <div class="icon"></div>
                    <div class="title"> Làm gì ở Color Fiesta </div>
                </a>

                <div class="content">
                    <p>
                        Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu 
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <a class="heading">
                    <div class="icon"></div>
                    <div class="title"> Làm gì ở Color Fiesta </div>
                </a>

                <div class="content">
                    <p>
                        Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu 
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <a class="heading">
                    <div class="icon"></div>
                    <div class="title"> Làm gì ở Color Fiesta </div>
                </a>

                <div class="content">
                    <p>
                        Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu Làm màu 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./FAQS.js"></script>