---
import './Footer.css'
---

<div id="footer"> 
  <div id="footer_container">
    <div id="footer_content">
      <img src="/icons/logo.png" />
      <p> Color Fiesta 2023© </p>
      <p> Công ty TNHH Yana Media. </p>
      <p> Giấy đăng kí số 0317044101 được cấp bởi Sở kế hoạch và đầu tư TPHCM ngày 22/11/2021. </p>
    </div>
    <div id="footer_link">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
    </div>
  </div>
</div>