#milestone {
  margin-top: 20vh;
  margin-bottom: 10vh;
}

#milestone_container {
  display: flex;
  align-content: center;
  justify-content: center;
  /* background-color: red; */
}

#milestone_title {
  text-align: center;
}

.grid {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.grid__item {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.box {
  position: relative;
  margin: 2rem;
}

.grid__item:hover .box__title-inner::before {
  height: 100%;
  width: 100%;
}

.box__img {
  display: block;
  flex: none;
  margin: 0 auto;
  max-width: 100%;
  transition: filter 0.3s;
  z-index: 1;
}

.box__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -1rem;
  left: -1rem;
  z-index: -1;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAOklEQVQoU43MSwoAMAgD0eT+h7ZYaOlHo7N+DNHL2HAGgBWcyGcKbqTghTL4oQiG6IUpOqFEC5bI4QD8PAoKd9j4XwAAAABJRU5ErkJggg==);
}

.overlay {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.overlay--open {
  pointer-events: auto;
}

.overlay__reveal {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  position: absolute;
  z-index: 100;
  transform: translate3d(100%, 0, 0);
}

.overlay__item {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #ececec;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay__item .box {
  max-width: 600px;
  max-height: 100%;
  margin: 0;
}

.overlay__item .box__title {
  bottom: 0;
}

.box__img--original {
  max-height: calc(80vw - 20rem);
  filter: none;
  justify-content: center;
  align-content: center;
}

#overlay__close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: 0;
  margin: 1rem;
  padding: 1rem;
  opacity: 0;
  color: black;
}

#overlay__link {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: 0;
  margin: 1rem;
  padding: 1rem;
  opacity: 0;
  color: black;
}

#overlay__close:focus,
#overlay__link:focus {
  outline: none;
}

.overlay__content {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 25rem;
  margin: 1rem 0 0 10vw;
  white-space: initial;
}

@media screen and (min-width: 55em) {
  .grid {
    display: grid;
    align-items: center;
    /* padding: 3rem 3rem 15rem 3rem;
    grid-row-gap: 2rem; */
    grid-template-columns: repeat(3, calc(100% / 3));
  }
  .grid__item {
    margin: 0;
  }
  .box {
    margin: 2rem;
  }
  .box__title {
    top: -4rem;
    right: -4.5rem;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
  }
  .box__title--straight {
    -webkit-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
  }
  .box__title--straight .box__title-inner::before {
    width: 0;
    height: auto;
  }
  .box__title--bottom {
    bottom: -5rem;
    top: auto;
  }
  .box__title--left {
    left: -2rem;
    right: auto;
  }
  .box__text--topcloser {
    top: -5rem;
  }
  .box__text--bottom {
    bottom: -5rem;
    top: auto;
  }
  .box__text--bottomcloser {
    bottom: -5rem;
    top: auto;
  }
  .box__text--right {
    right: 0;
    left: auto;
  }
  .box__text-inner--rotated1 {
    transform: rotate(4deg);
  }
  .box__text-inner--rotated2 {
    transform: rotate(-3deg);
  }
  .box__text-inner--rotated3 {
    transform: rotate(-15deg);
  }
  .box__deco {
    display: block;
  }
  .box__deco--left {
    right: auto;
    left: -3rem;
  }
  .box__deco--top {
    top: 0;
    bottom: auto;
  }
  .overlay__item {
    flex-direction: row;
  }
  .overlay__content {
    font-size: 2.25rem;
    margin-top: 0;
  }
  .overlay__item .box__title--bottom {
    bottom: 0;
  }
  .grid {
    grid-template-columns: repeat(4, 25%);
  }
  .box__content {
    display: block;
  }
}

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}
