---
import './HomeNavigator.css';
---

<div id="header_nav">
  <div id="header_nav_logo">
    <img src='/icons/logo.png' />
  </div>
  <div id="header_nav_pages">
    <a class="header_nav_item"> 
      <i class="header_nav_events"> </i>
      <p> Events </p> 
    </a>
    <a class="header_nav_item" href='/about'> 
      <i class="header_nav_about"> </i>
      <p> About </p> 
    </a>
    <a class="header_nav_item"> 
      <i class="header_nav_contact"> </i>
      <p> Contact </p> 
    </a>
    <a class="header_nav_item">
      <i class="header_nav_user"> </i>
    </a>
  </div>
</div>