---
import './Sponsors.css'
---

<div id="sponsors"> 
  <div id="sponsors_container">
    <div id="sponsors_title">
      <h1> OUR SPONSORS </h1>
    </div>
    <div id="sponsors_logos">
      <img src="/icons/LBM.png" />
      <img src="/icons/Wacom.png" />
      <img src="/icons/Kimdong.png" />
      <img src="/icons/Canon.png" />
      <img src="/icons/Muse.png" />
    </div>
  </div>
</div>